$tło: black;


body {
 color: $tło;

}

#zabytki {
 //display: none;
}
.zabytek {
 background-color: sandybrown;
 color: black;
 border: 3px dotted black;
 height: 300px;
 width: 300px;
 font-size: 10px;
 position: absolute;
 top: 10px;
 left:  750px;
}

#map {

 border: 2px solid black;
}

.zwiedzany_zabytek2 {
 background-color: red;
}

.table-striped {
 color: black;
 //width: 800px;
}

.plan_wycieczki {
 margin: 10px;
}

.plan_wycieczki_tył {
 //background-color: red;
 padding: 10px;
}


.plan_wycieczki span{
 font-weight: bolder;
 color: red;
 font-family: "Microsoft PhagsPa";
 font-size:16px;

}
.table {
 background-color: white;
 width: 690px;
 //margin-left: 9px;
}

table td {
 border: none !important;
}
.table tr {
 border: 2px solid saddlebrown;
 cursor: move;
 font-family: "Microsoft PhagsPa";
 font-weight: bold;
}
.visited {
 color: white;
 background: green;
 margin-left: 10px;
}
.visited span{
 cursor:hand;
}


//.table-hover tbody tr:hover td,
//.table-hover tbody tr:hover th {
// background-color: sandybrown;
//
//}

//.list-group-item {
// width: 50%;
//cursor: pointer;
// margin-left: 9px;
// }
//
//.list-group-item:hover {
// background-color: sandybrown;
//}
//
//ul li input[type='checkbox'] {
// margin-left: 20px;
//}

