
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    background-image: url("../_img/panorama_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    font-family: 'Exo 2', sans-serif;
    color: #a27854;
}
#about {
    background-image: url("../_img/back_dk.jpg");
    border: solid 2px #a27854 ;
}


#naww {
    background-image: url("../_img/back_dk.jpg");
    border: solid 1px #a27854;
}
.navbar-fixed-top .nav {
    padding: 15px 0;
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
    font-size: 22px;
    color: white;
    position: static;
    bottom: 53px;
    right: 50px;
    float: right;
    margin-right: 27px;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;

}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }
    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

.lewa {
    height: 550px;
    background-image: url("../_img/back_dk.jpg");
    border: solid 2px #a27854 ;
    border-right: none;
}

.prawa {
    height: 550px;
    background-image: url("../_img/back_dk.jpg");
    border: solid 2px #a27854 ;
}

.clear {
    clear: both;
}

.header {
    height: 400px;
    background-color: #c1e2b3;
}

.api {
    background-image: url("../_img/back_dk.jpg");
    height: 603px;
    border: solid 2px #a27854 ;
    border-top: none;
}




#lozaapp {
    font-size: 50px;
    color: #a27854;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    letter-spacing: 3px;
    left: 281px;
    bottom: 85px;
    text-decoration: none;


}

#footer {
    background-image: url("../_img/back_dk.jpg");
    height: 200px;
    border: solid 2px #a27854 ;
    border-top: none;

}