extends ./layouts/bootstrap.jade


block body
    .container
        .pierwszyDiv
            .klasaTest Test
            .KLASATARARARA
            .klasaTest2 TEST
                .nowaklasa baaaaa
                    .jegoklasa Kocham JS
                include wycieczka.jade
